#ifndef M5SPOT_CONFIG_H
#define M5SPOT_CONFIG_H

/*
 * M5Spot version
 */
const char *M5S_VERSION = "1.0";


/*
 * WiFi access points list
 */
const APlist_t AP_LIST[] = {
        {"<YOUR SSID 1>", "<YOUR PASSPHRASE 1>"},
        {"<YOUR SSID 2>", "<YOUR PASSPHRASE 2>"},
        {"<YOUR SSID 3>", "<YOUR PASSPHRASE 3>"}
};


/*
 * Spotify settings
 *
 * Don't forget to declare http://m5spot.local/callback/
 * as the Redirect URI in your Spotify App settings
 * See https://developer.spotify.com/dashboard/applications
 */
const char SPTF_CLIENT_ID[] = "<YOUR SPOTIFY CLIENT ID>";
const char SPTF_CLIENT_SECRET[] = "<YOUR SPOTIFY CLIENT SECRET>";
const uint16_t SPTF_POLLING_DELAY = 5000;

#endif // M5SPOT_CONFIG_H
